* {
    text-align: center;
    padding: 10px;
}
html {
    padding: 0 10px;
}
body {
    min-height: 100vh;
    padding: 0 !important;
    margin: 0;
}
body > button {
    width: calc(100% - 20px);
    margin: 10px;
}
.accordion-item,
.accordion-header {
    padding: 0;
}
.accordion-body {
    padding: 0;
}
h2 {
    font-size: 1.25rem;
}
.accordion-header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}
a {
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}
strong {
    padding-left: 0;
    padding-right: 0;
}
section > .accordion-item {
    border: 0 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.23) !important;
    border-radius: 0 !important;
}
.accordion {
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-active-color: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
 }
section h1 {
    font-size: 1.75rem;
}
.accordion-body h1 {
    font-weight: 300;
}
img {
    padding: 64px 0;
}
span {
    font-weight: 100;
    padding: 0;
}
